body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

pre {
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
}

.menu_level_1 {
	background-color: #dddddd;
	padding: 2px;
	padding-left: 10px;
	margin-top: 25px;
	border-bottom: dotted 1px;
}
.menu_level_2 {
	margin-top: 5px;
	margin-left: 10px;
}
.menu_level_3 {
	margin-top: 5px;
	margin-left: 30px;
	font-size: 80%;
}

.document_title {
	font-size: medium;
	font-weight: bold;
	background-color: #BBD7EE;
	text-align: center;
	border: thin solid;
	padding-top: 5px;
	padding-bottom: 5px
}

.keyword {
	color: blue;
}

.comment {
	color: red;
}

.pragmatic {
	font-size: medium;
	font-weight: bold;
	background-color: #FFCC66;
	text-align: center;
	border: thin solid;
	padding-top: 5px;
	padding-bottom: 5px
}

.remark { 
   font-size: 10pt
}
